.hero {
  text-align: center;

  background-image: url(../img/mob-glazed-donuts-in-boxes-copy-space1@3x.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  padding-top: 86px;
  margin-left: auto;
  margin-right: auto;

  max-width: 280px;

  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.03em;
}
