:root {
  --primary-bg-color: #eeeded;

  --accent-color: #f3848c;
  --hover-color: #ffffff;
  --card-bg-color: #fafbfb;

  --text-color: #3c322d;

  //   --light-text-color: #fcfcfc;
  //   --dark-text-color: #131313;
  //   --disabled-color: #ababab;
  //   --border-color: #e1e1e1;
}
