<section class="section">
  <div class="container">
    <h2>Contact</h2>
    <p>We will answer any question!</p>
    <form action="">
      <input type="mail" placeholder="Email" />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="Type your question"
      ></textarea>
    </form>

    <button type="button">Send</button>

    <ul class="socials-list">
      <li class="socials-list__item">
        <a href="#"
          ><svg
            aria-label="instagram icon"
            class="socials-list__icon"
            width="20"
            height="20"
          >
            <use href="./img/socials-list.svg#icon-Twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list__item">
        <a href="#"
          ><svg
            aria-label="instagram icon"
            class="socials-list__icon"
            width="20"
            height="20"
          >
            <use href="./img/socials-list.svg#icon-Instagram"></use></svg
        ></a>
      </li>
      <li class="socials-list__item">
        <a href="#"
          ><svg
            aria-label="instagram icon"
            class="socials-list__icon"
            width="20"
            height="20"
          >
            <use href="./img/socials-list.svg#icon-Facebook"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
