<section class="section">
  <div class="container">
    <h2>Reviews</h2>

    <ul>
      <li>
        <div>
          <img
            class="reviewer-photo"
            src="./img/mob-reviewer-will.jpg"
            alt="reviewer's photo"
            style="border-radius: 140px"
          />

          <div class="js-rating">
            <svg width="24" height="24">
              <use href="./img/stars.svg#icon-star-full"></use>
            </svg>
            <svg width="24" height="24">
              <use href="./img/stars.svg#icon-star-full"></use>
            </svg>
            <svg width="24" height="24">
              <use href="./img/stars.svg#icon-star-full"></use>
            </svg>
            <svg width="24" height="24">
              <use href="./img/stars.svg#icon-star-full"></use>
            </svg>
            <svg width="24" height="24">
              <use href="./img/stars.svg#icon-star-empty"></use>
            </svg>
          </div>
        </div>

        <p class="comment">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </li>
    </ul>
  </div>
</section>
